* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  background-color: rgb(241, 241, 241);
}

@import './nav';
@import './seachbar';
@import './snapshot';
@import './moviepage';

.app,
#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-page {
  margin-top: 150px;
}

